<% provide(:title,'About')%>
    <h1>About this application</h1>
    <h2>
  	This application is in development by two french student in Master Degree of Computer Science. 
  	It is a personnal projects, in order to improve our knowledge in web development, and more specificly in Ruby on Rails framework. Check the Contact page if you want more informations.
    </h2>
   
 