<% provide(:testLourd, 'Suce stonedge en contact')%>
<% provide(:title,'Contact')%>
 	<h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    <p> Voici le texte variable : <%= yield(:testLourd) %> fini </p>
    <p> Voici le nom de la page: <%= yield(:title) %></p>
