<% provide(:testLourd, 'Suce stonedge en help')%>
<% provide(:title,'Help')%>
    <h1>Help</h1>
    <h2>
      If you need any help on how using this app, please contact us on  <%= link_to "Contact page", contact_path%>
    </h2>
  
