<div class="center hero-unit">
  <h1>Welcome on MONNEYG€R web app</h1>

  <h2>
   The goal of this app is to manage your debt with your friends, more description on <%= link_to "About page", about_path%> Moneyger App 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
