<div class="center hero-unit">
  <h1>Bienvenue sur la version Online de Moneyger</h1>

  <h2>
   The goal of this app is to manage your debt with your friends, more descrition on <a href="http://www.pornhub.com"> Moneyger App 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://replygif.net/i/667.gif", alt: "Rails"), 'http://replygif.net/i/667.gif', class: 'center' %>